

.block{
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 0px;
  display: block;
  }
.block h2{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;

}

.img-parallax {
  width: 100vmax;
  height: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}
.block a{
	text-align: center;
	position: relative;
	display: block;
	margin: 0;
	top: 50%;
}
.block button{
	border-style: none;
	font-size:3vw;
	background-color: black;
	color: white;
	padding: 7px;
}

}

.whats-playing {display: none;}

.moviestickys {display: none;}

.dropbtn {
  background-color: black;
  color: white;
  padding-top: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 28px;
  right: 20px;

}

.whats-playing{
	display: none;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

    padding: 30px;
    display:block;
    color: white;
    text-align:center;
    position: fixed;
    top: 50px;
    right: 125px;
    z-index: 1;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

header {
	background-color: black;
	position: fixed;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 15px;
	z-index: 1;
}

.header{
	margin-top: 8px;
}

body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	background-color: black;
		background-image: url(../photos/Untitled-4-01.png);
	 }

h2, h4{
	font-family: skolar-latin, serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	
	font-family: cooper-black-std, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	color: white;
}

h3	{
	color: white;
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: 25px;
	padding: 20px;
}

p{

	color: white;
}

p.showtimesinfo{
	margin-bottom:35px;
	margin-top: 35px;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 21px;
	font-size:13px;
	font-family: Helvetica, sans-serif;
}

footer{
	color: grey;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 43px;
	line-height: 20px;
	text-align: center;
	background-color: black;
	
}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

.top-photo{
	height:100vh;
	width: auto;
	overflow: hidden;
}

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

.menu{
	padding: 0px;
	margin: 0px;
}

.menu1{
	margin-top: 40px;
}

.menu2{
	margin-top: 100px;
}

.white{
	background-color: white;
}

.all{
	display: none;
}

@media only screen and (min-width: 768px) {
	body {
	
}

@media only screen and (min-width: 1024px) {
	.homephotohide{display:none;}
	.whats-playing{
		display: block;
			margin-left: 30%;
		    margin-top: 200px;  
		    padding-bottom: 600px;	
	}
	.block h2{
		font-size: 50px;
	}
	.movieinfo{
		display: block;
		    margin-left: 35%;
		    margin-top: 10px;
		    width: 650px;
		    padding-bottom: 200px;

	}
p{
	line-height: 20px;
}
h2.movieinfotitle{ 
		margin-left: 35%;
		margin-top: 0px;
		width: 500px;
		text-align: left;
	}
.onetimebutton {
	visibility:hidden;

}
.hungry img{
	padding-left: 40%;
	height: auto;
	width: 60%;
}
.hungry button{
	position: absolute;
top: 390px;
left: 300px;
}
.hungry h2{
top: 385px;
right: 275px;
}
.block button{
	border-style: solid;
	font-size:20px;
	background-color: black;
	color: white;
	padding: 7px;

}
.thirsty img{
	padding-right: 40%;
	height: auto;
	width: 60%;
}

.thirsty button{
	position: absolute;
	top: 50px;
	right: 350px;
}

.thirsty h2{
	top: 50px;
	left: 255px;
}

 .all{
 	display: block;
 	height: auto;
 	width: 500px;
 	float:left;
 	padding-top: 100px;
 }
.event {
position: center;
	padding-top: 100px;
	margin-top:100px;
}

.img-parallax




}

@media only screen and (min-width: 1200px) {
	body {

	}
}






/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/



