/* Dropdown Button */
.block{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  }
.block h2{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 80%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}
.img-parallax {
  width: 100vmax;
  height: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}





.dropbtn {
  background-color: black;
  color: white;
  padding-top: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 28px;
  right: 20px;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

    padding: 30px;
    display:block;
    color: white;
    text-align:center;
    position: fixed;
    top: 50px;
    right: 125px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

header {
	background-color: black;
	position: fixed;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 15px;
}

body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
}

h1 {
	
font-family: cooper-black-std, serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
color: white;
}


/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}


@media only screen and (min-width: 768px) {
	body {
		background-color: skyblue;
	}
	.grid {
	grid-template-columns: 1fr 1fr;
	width: 70%;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		background-color: salmon;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background-color: pink;
	}
}








/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/



